:root {
    --base_gap: 20px;
    --menu_color: #ffe4c4;
    --notes_color: #fef2e3;
    --button_color: #f5c993;
    --txt_color: #000000;
    --border_weight: 2px;
    --header_font-size: 50px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --transition: all 1s;
}

.loaders-screen{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(116, 116, 116, 0.199);
}
.loader {
  height: 60px;
  aspect-ratio: 6;
  --c: #0000 64%, black 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 25% 100%;
  background-size: calc(100%/3) 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l2 1s infinite linear;
}
@keyframes l2{
  90%,to {clip-path: inset(0)}
}