:root {
    --base_gap: 20px;
    --menu_color: #ffe4c4;
    --notes_color: #fef2e3;
    --button_color: #f5c993;
    --txt_color: #000000;
    --border_weight: 2px;
    --header_font-size: 50px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --transition: all 1s;
}

.open-note{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--menu_color);
    right: 0%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.open-note_screen{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--menu_color);
    transition: all 1s;
}

.open-note_header{
    top: 30px;
    left: calc(50%);
    transform: translateX(-50%);
    position: absolute;
    color: black;
    font-size: 20px;
}

.open-note_txt{
    position: absolute;
    top: 80px;
    left: 30px;
    color: black;
    font-size: 20px;
}

.open-note_exit{
    width: var(--header_font-size);
    height: var(--header_font-size);
    position: absolute;
    background-color: var(--button_color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.edit{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--note_height) * 5 + ( var(--base_gap) * 4 ));
    height: calc(--base_gap);
    padding: var(--base_gap);
    gap: var(--base_gap);
    box-sizing: content-box;
    background-color: var(--notes_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit_text,
.edit_picture,
.edit_draw,
.edit_rubber,
.edit_delete{
    height: var(--note_height);
    width: var(--note_height);
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    transition: all 0.3s ;
    border-bottom: var(--menu_color) solid  0px;
}

.edit_text{
    background-image: url("../img/free-icon-edit-3597088.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_picture{
    background-image: url("../img/free-icon-image-gallery-3342176.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_draw{
    background-image: url("../img/free-icon-pencil-1828911.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_rubber{
    background-image: url("../img/free-icon-eraser-7358765.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_delete{
    background-image: url("../img/free-icon-trash-can-6148091.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_text:hover,
.edit_picture:hover,
.edit_draw:hover,
.edit_rubber:hover,
.edit_delete:hover{
    border-bottom: var(--menu_color) solid  10px;
}