:root {
    --base_gap: 20px;
    --menu_color: #ffe4c4;
    --notes_color: #fef2e3;
    --button_color: #f5c993;
    --txt_color: #000000;
    --border_weight: 2px;
    --header_font-size: 50px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --transition: all 1s;
}

.open-note{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--menu_color);
    right: -100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.open-note_screen{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--menu_color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 1s;
}

.open-note_header{
    top: 30px;
    left: calc(50%);
    transform: translateX(-50%);
    position: absolute;
    color: black;
    font-size: 20px;
}

.open-note_txt{
    position: absolute;
    top: 80px;
    left: 30px;
    color: black;
    font-size: 20px;
}

.open-note_exit{
    width: var(--header_font-size);
    height: var(--header_font-size);
    position: absolute;
    background-color: var(--button_color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 30;
    left: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.edit{
    z-index: 30;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--note_height) * 6 + ( var(--base_gap) * 5 ));
    height: calc(--base_gap);
    padding: var(--base_gap);
    gap: var(--base_gap);
    box-sizing: content-box;
    background-color: var(--notes_color);
    border-radius: var(--base_border-radius);
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit_text,
.edit_picture,
.edit_draw,
.edit_rubber,
.edit_delete,
.edit_add-text{
    height: var(--note_height);
    width: var(--note_height);
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    transition: all 0.3s ;
    border-bottom: var(--menu_color) solid  0px;
}

.edit_text{
    background-image: url("../img/free-icon-edit-3597088.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_picture{
    background-image: url("../img/free-icon-image-gallery-3342176.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_draw{
    background-image: url("../img/free-icon-pencil-1828911.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_rubber{
    background-image: url("../img/free-icon-eraser-7358765.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_add-text{
    background-image: url("../img/free-icon-text-3721901.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_delete{
    background-image: url("../img/free-icon-trash-can-6148091.png");
    background-position: 50% 50%;
    background-size: 50%;
    background-repeat: no-repeat;
}

.edit_text:hover,
.edit_picture:hover,
.edit_draw:hover,
.edit_rubber:hover,
.edit_delete:hover,
.edit_add-text:hover{
    border-bottom: var(--menu_color) solid  10px;
}

.editor{
    z-index: 30;
    top: 150%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60%;
    height: 50%;
    position: absolute;
    background-color: var(--button_color);
    outline: none;
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

#editor{
    width: 100%;
    height: 90%;
    outline: none;
    border: none;
    position: absolute;
    border-radius: 0 0 var(--base_border-radius)  var(--base_border-radius);
    background-color: var(--notes_color);
}

.ql-snow{
    outline: none;
    border: none;
}

.move-block{
    z-index: 1;
    border-radius: 0px;
    position: absolute;
}

.move-p-block{
    z-index: 1;
    border-radius: 0px;
    position: absolute;
    overflow: hidden;
}

.picture-editor{
    z-index: 30;
    top: 150%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 50%;
    position: absolute;
    padding: var(--base_gap);
    background-color: var(--notes_color);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--base_gap);
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

.picture-editor_option{
    width: 100%;
    height: 10%;
    gap: var(--base_gap);
}

.picture-editor_option-width,
.picture-editor_option-height{
    width: 20%;
}

.picture-editor_test{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
}

.picture-editor_submit,
.picture-editor_submit-create{
    width: 30%;
    height: 90%;
    background-color: var(--button_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}


.test_picture{
    width: 100px;
    height: 100px;
    background-image: url("../img/free-icon-image-gallery-3342176.png");
    background-size: cover;
}

.right-board{
    width: 25%;
    height: 95%;
    z-index: 30;
    position: absolute;
    right: var(--base_gap);
    transform: translateX(calc(100% + var(--base_gap)));
    background-image: url("../img/free-icon-leaf-7486777.png");
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 60%;
    padding: var(--base_gap);
    border-radius: var(--base_border-radius);
    background-color: var(--notes_color);
    transition: var(--transition);
}

.open-note_open-right-board{
    z-index: 30;

     width: var(--header_font-size);
    height: var(--header_font-size);
    position: absolute;
    background-image: url("../img/free-icon-dropdown-arrow-4865063.png");
    background-position: 50% 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: var(--button_color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap));
    font-size: var(--header_font-size);
    transform: translateX(0px);
    transition: var(--transition);
}

.right-board_header{
    text-align: center;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
}

.right-board_editor{
    display: none;
    width: 100%;
    height: 103%;
    /* box-shadow: ; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    /* border-top: 2px solid grey; */
}

.right-board_input{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-board_input>span{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--base_border-radius);
    background-color: var(--menu_color);
}

.input-s{
    width: 40%;
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.right-board_change{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
}

.right-board_background-input{
    width: 40%;
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: var(--base_border-radius);
}

.right-board_format{
    height: auto;
    width: 100%;
    padding-top: var(--base_gap);
    padding-bottom: var(--base_gap);
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--base_gap);
    flex-direction: column;
}

.right-board_editor-bg{
    display: flex;
    width: 100%;
    height: 103%;
    /* box-shadow: ; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    /* border-top: 2px solid grey; */
}

.right-board_background-input-bg{
    width: 40%;
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: var(--base_border-radius);
}

.right-board_change-bg{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
}