/* _____________base-struct___________ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____________visual-settings__________ */

:root{
    --base_gap: 20px;
    --menu_color: #ffe4c4;
    --notes_color: #fef2e3;
    --button_color: #f5c993;
    --border_weight: 2px;
    --header_font-size: 60px;
    --text_font-size: 30px;
    --setting-icon_size: 40px;
    --note_height: 80px;
    --base_border-radius: 20px;
}

.false {
    width: 1px;
    height: 1px;
    overflow: hidden;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--menu_color);
}
 
/* _______________main_____________ */

.main{
    width: 80%;
    height: 100%;
    padding: var(--base_gap);
    gap: var(--base_gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* ______________header____________ */

.menu{
    padding: var(--base_gap);
    width: 100%;
    height: calc(20% - var(--base_gap));
    border-bottom: black solid var(--border_weight);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.menu_header{
    position: absolute;
    left: calc(var(--setting-icon_size) + var(--base_gap) *3);
    top: 45%;
    transform: translateY(-50%);
    font-size: var(--header_font-size);
}

.menu_add-note{
    font-size: var(--header_font-size);
}

.setting-icon{
    width: var(--setting-icon_size);
    height: var(--setting-icon_size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.setting-icon_block1,.setting-icon_block2,.setting-icon_block3{
    width: 100%;
    height: calc(var(--border_weight) * 4);
    background-color: black;
    border-radius: var(--base_border-radius);
}

/* ____________notes__________ */

.main_notes{
    width: 100%;
    height: 80%;
}

.note{
    width: 100%;
    height: var(--note_height);
    background-color: var(--notes_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--base_gap) calc(var(--base_gap) * 2);
}

.note_name{
    font-size: var(--text_font-size);
}

.note_headers{
    width: 200px;
    height: 100%;
    font-size: var(--text_font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
}

/* ______________settings_____________ */

.settings-screen{
    position: absolute;
}
.settings{
    width: 19%;
    height: 100%;
    background-color: var(--notes_color);
    border: calc(var(--border_weight) * 1.5) solid black;
    border-radius: var(--base_border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:var(--base_gap);
    align-items: center;
    transition: left 0.5s linear;
    position: relative;
    left: -200px;
}
.settings__visual{
    width: 70%;
    height: 5%;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    text-align: center;
    font-size: 25px;
}
.setting__technical{
    width: 70%;
    height: 5%;
        background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    text-align: center;
    font-size: 25px;
}
.settings__shortcuts{
    width: 70%;
    height: 5%;
        background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    text-align: center;
    font-size: 25px;
}
.settings__header{
    width: 90%;
    text-align: center;
    font-size: 45px;
}