/* _____________base-struct___________ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____________visual-settings__________ */

:root{
    --base_gap: 20px;
    --menu_color: #ffe4c4;
    --notes_color: #fef2e3;
    --button_color: #f5c993;
    --border_weight: 2px;
    --header_font-size: 50px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --transition: all 1s;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--menu_color);
}
 
/* _______________main_____________ */

.main{
    width: 80%;
    height: 100%;
    padding: var(--base_gap);
    gap: var(--base_gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/notes.png");
    background-position: 50% 50%;
    background-size: 20%;
    background-repeat: no-repeat;
    transition: var(--transition);
}

/* ______________header____________ */

.menu{
    padding: var(--base_gap);
    width: 100%;
    height: calc(20% - var(--base_gap));
    border-bottom: black solid var(--border_weight);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.menu_header{
    position: absolute;
    left: calc(var(--setting-icon_size) + var(--base_gap) *3);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--header_font-size);
}

.menu_add-note-header {
    width: 80px;
    height: 60px;
    background-color: var(--button_color);
    background-image: url("../img/263122 1.png");
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: 40%;
    font-size: 35px;
    color: var(--txt_color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: var(--base_border-radius);
    padding-right: 10px;
}

.setting-icon {
    width: 60px;
    height: 60px;
    background-image: url("../img/free-icon-settings-512158.png");
    background-color: var(--button_color);
    border-radius: 20%;
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* ____________notes__________ */

.main_note-headers{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--base_gap);
}

.note-header{
    gap: calc(var(--base_gap)*2);
    width: 100%;
    height: calc(var(--note_height) + var(--base_gap) * 2);
    /* height: calc(var(--note_height) * 8 + var(--base_gap) * 2); */
    background-color: var(--notes_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: var(--base_gap) calc(var(--base_gap) * 2);
    overflow: hidden;
    overflow-y: auto;
    transition: var(--transition);
}

.note-header_main{
    width: 100%;
    height: var(--note_height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.note-header_note-list{
    width: 100%;
    height: auto;
    /* padding: 0; */
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--base_gap);
    /* opacity: 0; */
    transition: all 1s;
}

.note-header_note-child{
    width: 100%;
    height: var(--note_height);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--base_gap);
    background-color: var(--button_color);
}

.note-header_header-child{
    font-size: var(--text_font-size);
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.note-header_note-add{
    font-size: var(--text_font-size);
    background-color:  blue;
    border-radius: var(--base_border-radius);
    padding: calc(var(--base_gap) / 2);
    color: white;
}

.note-header_name{
    font-size: var(--text_font-size);
}

.note-header_headers{
    width: 200px;
    height: var(--note_height);
    font-size: var(--text_font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
}

.note-header_delete-child{
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

/* ________note-header-settings_______ */

.note-settings-screen{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    transform: translateY(120%);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
}

.note_settings{
    width: calc(60% - var(--base_gap));
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--base_gap);
    padding: var(--base_gap);
}

.note_create{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.note-settings_header{
    font-size: var(--header_font-size);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border_weight) solid black;
}

.option{
    font-size: var(--text_font-size);
    width: 100%;
    height: calc(14% - var(--base_gap));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.option_input{
    height: 80%;
    width: 40%;
    background-color:var(--button_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

.example{
    background-color: var(--menu_color);
    background-size: contain;
    width: 500px;
    height: 280px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

.example_txt{
    width: 100%;
}

.note_submit,
.note_create-example{
    width: 220px;
    height: 50px;
    background-color: var(--button_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.note_exit{
    position: absolute;
    right: calc(var(--base_gap) * 2);
    top: var(--base_gap);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.option_input-color{
    height: 80%;
    width: 40%;
    background-color: var(--notes_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

/* __________header-add-screen________ */

.add-header-screen{
    width: 500px;
    height: 300px;
    background-color: var(--button_color);
    position: absolute;
    top: 50%;
    transform: translateY(-500%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: var(--base_border-radius);
    padding: var(--base_gap);
    transition: var(--transition);
}

.add-header-screen_exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.add-header-screen_submit{
    width: 220px;
    height: 50px;
    background-color: var(--notes_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.add-header-screen_option{
    font-size: var(--text_font-size);
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-header-screen_input{
    height: 80%;
    width: 40%;
    background-color:var(--notes_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

/* ___________visual-settings_________ */

.visual-settings-screen{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    transform: translateY(-120%);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
}

.visual-settings-settings{
    width: calc(50% - var(--base_gap));
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--base_gap);
    padding: var(--base_gap);
}

.visual-settings_create{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.visual-settings_header{
    width: 100%;
    text-align: center;
}

.visual-settings_example{
    background-color: var(--menu_color);
    background-size: contain;
    position: relative;
    width: 500px;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

.visual-settings_head{
    font-size: 150px;
    position: absolute;
    left: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*3);
}

.visual-settings_txt{
    font-size: 50px;
    position: absolute;
    left: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*2);
}

.visual-settings_button-w1{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*2);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_button-w2{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*3 + 50px );
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_button-w3{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*4 + 100px );
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

/* ______________settings_____________ */
.settings-screen {
    position: absolute;
    color: var(--txt_color);

}

.settings {
    width: 19%;
    height: 100%;
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--base_gap);
    border-radius: 0 var(--base_border-radius) var(--base_border-radius) 0;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 4;
    transition: var(--transition);
    color: var(--txt_color);
}

.settings__visual,
.settings__technical,
.settings__shortcuts {
    color: var(--txt_color);
    width: 70%;
    height: 5%;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.settings__header {
    color: var(--txt_color);
    width: 90%;
    text-align: center;
    font-size: 45px;
}
/* settings-shorcuts */
.shortcuts-settings-screen{
    position: absolute;
    transform: translateX(120%);
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
}
.shortcuts-settings-exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}
.option-shortcuts{
    font-size: var(--text_font-size);
    width: 100%;
    height: calc(14% - var(--base_gap));
    display: flex;
    flex-direction: row;
    color: var(--txt_color);
    align-items: center;
    justify-content: space-between;
}
.button-shortcuts{
    background-color: var(--button_color);
    border: 20px solid var(--button_color);
    border-radius: var(--base_border-radius);
    position: relative;
    right: 50px;
}
/* technical */
.technical-settings-screen{
    position: absolute;
    transform: translateY(120%);
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
}
.technical-settings-exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}
.option-technical{
    font-size: var(--text_font-size);
    width: 100%;
    height: calc(14% - var(--base_gap));
    display: flex;
    flex-direction: row;
    color: var(--txt_color);
    align-items: center;
    justify-content: space-between;
}
.button-technical{
    background-color: var(--button_color);
    border: 20px solid var(--button_color);
    border-radius: var(--base_border-radius);
    position: relative;
    right: 50px;
}
.button-screen{
    position: absolute;
    transform: translateX(330%);
    width: 30%;
    height: 15%;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--menu_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
    font-size: 55px;
}
