/* _____________base-struct___________ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____________visual-settings__________ */

:root{
    --base_gap: 20px;
    --menu_color: #ffe4c4;
    --notes_color: #fef2e3;
    --button_color: #f5c993;
    --border_weight: 2px;
    --header_font-size: 40px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --fontFamily: ;
    --transition: all 1s;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--menu_color);
}
 
/* _______________main_____________ */

.main{
    width: 80%;
    height: 100%;
    padding: var(--base_gap);
    gap: var(--base_gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../img/notes.png");
    background-position: 50% 50%;
    background-size: 20%;
    background-repeat: no-repeat;
    transition: var(--transition);
    font-family: var(--fontFamily);
}

/* ______________header____________ */

.menu{
    padding: var(--base_gap);
    width: 100%;
    /* border-bottom: black solid var(--border_weight); */
    background-color: var(--notes_color);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-radius: var(--base_border-radius);
}

.menu_header{
    position: absolute;
    left: calc(var(--setting-icon_size) + var(--base_gap) *3);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--header_font-size);
}

.menu_search{
    width: 300px;
    height: 60px;
    outline: none;
    border: none;
    text-align: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.menu_add-note-header {
    width: 80px;
    height: 60px;
    background-color: var(--button_color);
    background-image: url("../img/263122 1.png");
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: 40%;
    font-size: 35px;
    color: var(--txt_color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: var(--base_border-radius);
    padding-right: 10px;
}

.setting-icon {
    width: 60px;
    height: 60px;
    background-image: url("../img/free-icon-settings-512158.png");
    background-color: var(--button_color);
    border-radius: 20%;
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* ____________notes__________ */

.main_note-headers{
    width: 100%;
    height: auto;
    gap: var(--base_gap);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: var(--fontFamily);
}

.main_scroll{
     width: 100%;
     height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--base_gap);
    overflow-y: auto;
}

.note-header{
    gap: calc(var(--base_gap)*2);
    width: 100%;
    height: calc(var(--note_height) + var(--base_gap) * 2);
        overflow-y: auto;
    background-color: var(--notes_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: var(--base_gap) calc(var(--base_gap) * 2);
    transition: var(--transition);
}

.note-header_main{
    width: 100%;
    height: var(--note_height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.note-header_note-list{
    width: 100%;
    height: auto;
    position: relative;
    /* padding: 0; */
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--base_gap);
    /* opacity: 0; */
    transition: all 1s;
}

.note-header_note-child{
    width: 100%;
    height: var(--note_height);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--base_gap);
    background-color: var(--button_color);
}

.note-header_header-child{
    font-size: var(--text_font-size);
    display: flex ;
    max-width: 70%;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
}

.note-header_note-add{
    font-size: var(--text_font-size);
    background-color:  var(--button_color);
    border-radius: var(--base_border-radius);
    padding: 0 calc(var(--base_gap) / 2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    margin-right: 30px;
    color: white;
    position: relative;
}

.note-header_search{
    position: absolute;
    left: 50%;
    top: 0px;   
    height: 50px;
}

.note-header_name{
    font-size: var(--text_font-size);
}

.note-header_headers{
    width: 200px;
    height: var(--note_height);
    font-size: var(--text_font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
}

.note-header_delete-child{
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

/* ________note-header-settings_______ */

.note-settings-screen{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    transform: translateY(120%);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    font-family: var(--fontFamily);
}

.note_settings{
    width: calc(60% - var(--base_gap));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--base_gap);
    padding: var(--base_gap);
    overflow-y: auto;
}

.note_create{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.note-settings_header{
    font-size: var(--header_font-size);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border_weight) solid black;
}
.option{
    font-size: var(--text_font-size);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.option_input{
    height: 80%;
    width: 40%;
    background-color:var(--button_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

.example{
    background-color: var(--menu_color);
    background-size: contain;
    width: 300px;
    height: 180px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

.example_txt{
    width: 100%;
}

.note_submit,
.note_create-example{
    width: 220px;
    height: 50px;
    background-color: var(--button_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.note_exit{
    position: absolute;
    right: calc(var(--base_gap) * 2);
    top: var(--base_gap);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.option_input-color{
    height: 80%;
    width: 40%;
    background-color: var(--notes_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

/* __________header-add-screen________ */

.add-header-screen{
    width: 500px;
    height: 300px;
    background-color: var(--button_color);
    position: absolute;
    top: 0%;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: var(--base_border-radius);
    /* padding: var(--base_gap); */
    transition: var(--transition);
    font-family: var(--fontFamily);
}

.add-header-screen_exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.add-header-screen_submit{
    width: 220px;
    height: 50px;
    background-color: var(--notes_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.add-header-screen_option{
    font-size: var(--text_font-size);
    width: 80%;
    height: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-header-screen_header{
    position: absolute;
    top: 20px;
    right: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--base_gap);
   font-size: 25px;
    transform: translateX(50%);
}

.add-header-screen_icon{
    width: 40px;
    height: 40px;
    background-image: url("../img/263122\ 1.png");
    background-size: cover;
}

.add-header-screen_input{
    height: 90%;
    width: 100%;
    background-color:var(--notes_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

/* ___________visual-settings_________ */

.visual-settings-screen{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    transform: translateY(-120%);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
    font-family: var(--fontFamily);
}

.visual-settings-settings{
    width: calc(50% - var(--base_gap));
    height: 100%;
    overflow-y: scroll;
}

.scroll{
width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--base_gap);
    padding: var(--base_gap);
}

.visual-settings_create{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.visual-settings_header{
    width: 100%;
    text-align: center;
}

.visual-settings_example{
    background-color: var(--menu_color);
    background-size: contain;
    position: relative;
    width: 500px;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

.visual-settings_head{
    font-size: 150px;
    position: absolute;
    left: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*3);
}
.right-board_font-input-vs{
    width: 40%;
    height: 80%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}
.visual-settings_txt{
    font-size: 50px;
    position: absolute;
    left: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*2);
}

.visual-settings_button-w1{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*2);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_button-w2{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*3 + 50px );
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_button-w3{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*4 + 100px );
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_exit-example{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.visual-settings_exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.visual-settings_submit{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height:60px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: var(--base_border-radius);
    border-bottom: var(--menu_color)solid 0px;
    background-color: var(--button_color);
    transition: all 0.25s;
}

/* ______________settings_____________ */
.settings-screen {
    position: absolute;
    color: var(--txt_color);
    font-family: var(--fontFamily);
}

.settings {
    width: 19%;
    height: 100%;
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--base_gap);
    border-radius: 0 var(--base_border-radius) var(--base_border-radius) 0;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 4;
    transition: var(--transition);
    font-family: var(--fontFamily);
    color: var(--txt_color);
}

.settings__visual,
.settings__technical,
.settings__shortcuts {
    color: var(--txt_color);
    width: 70%;
    height: 6%;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    text-decoration: none;
    padding: var(--base_gap);
       border-bottom: var(--menu_color) solid 0px;
    font-size: 25px;
    transition: all 0.25s;
}

.settings__visual:hover,
.settings__technical:hover,
.settings__shortcuts:hover {
       border-bottom: var(--menu_color) solid  10px;

}

.settings__header-icon{
    width: 30px;
    height: 30px;
    background-image: url("../img/free-icon-settings-563541.png");
    background-size: cover;
    margin-top: 10px;
}

.settings__header-icon-ab{
    width: 30px;
    height: 30px;
    background-image: url("../img/information.png");
    background-size: cover;
    margin-top: 10px;
}

.settings__header-icon-gt{
    width: 30px;
    height: 30px;
    background-image: url("../img/github.png");
    background-size: cover;
}

.settings__header-icon-yt{
    width: 30px;
    height: 30px;
    background-image: url("../img/youtube.png");
    background-size: cover;
}

.settings__header-icon-vl{
    width: 30px;
    height: 30px;
    background-image: url("../img/effect.png");
    background-size: cover;
}

.settings__header-icon-tl{
    width: 30px;
    height: 30px;
    background-image: url("../img/technology.png");
    background-size: cover;
}

.settings__header-icon-sc{
    width: 30px;
    height: 30px;
    background-image: url("../img/copy.png");
    background-size: cover;
}

.settings__header-icon-nt{
    width: 50px;
    height: 50px;
    background-image: url("../img/wirte.png");
    background-size: cover;
}

.settings__name{
    margin-top: 20px;
    font-size: var(--header_font-size);
    background-color: var(--button_color);
    width: 100%;
    height: 80px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings__header {
    color: var(--txt_color);
    /* border-top: grey solid 2px; */
    width: 90%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 45px;
}
/* settings-shorcuts */
.shortcuts-settings-screen{
    position: absolute;
    font-family: var(--fontFamily);
    transform: translateX(120%);
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
    overflow-y: auto;
}
.shortcuts-settings-exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}
.option-shortcuts{
    font-size: var(--text_font-size);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    color: var(--txt_color);
    align-items: center;
    justify-content: space-between;
}
.button-shortcuts{
    background-color: var(--button_color);
    border: 20px solid var(--button_color);
    border-radius: var(--base_border-radius);
    position: relative;
    right: 50px;
}
/* technical */
.technical-settings-screen{
    position: absolute;
    transform: translateY(120%);
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    font-family: var(--fontFamily);
    overflow-y: auto;
    z-index: 3;
}
.technical-settings-exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}
.option-technical{
    font-size: var(--text_font-size);
    width: 95%;
    height: 60px;
    display: flex;
    flex-direction: row;
    color: var(--txt_color);
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.button-technical{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border: 20px solid var(--button_color);
    border-radius: var(--base_border-radius);
}
.button-screen{
    position: absolute;
    transform: translateX(100%);
    right: 0%;
    max-width: 60%;
    width: auto;
    height: auto;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--menu_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
    font-size: 55px;
}

@media (max-width: 1440px) {
    

    .settings__name{
        font-size: 30px;
    }

    .settings__header-icon-nt{
        width: 30px;
        height: 30px;
    }

    .settings__visual,
    .settings__technical,
    .settings__shortcuts{
        font-size: 17px;
    }

    .settings__header-icon-gt,
    .settings__header-icon-sc,
    .settings__header-icon-tl,
    .settings__header-icon-vl,
    .settings__header-icon-yt{
        width: 17px;
        height: 17px;
    }

    .visual-settings_header{
        font-size: 20px;
    }

    .option{
        font-size: 12px;
    }

    .visual-settings_example{
        width: 400px;
        height: 400px;
    }

    .visual-settings_txt{
        font-size: 25px;
    }

    .visual-settings_head{
        font-size: 55px;
    }

    .settings__header{
        font-size: 23px;
    }
}

@media (max-width: 1250px) {
    .menu_header{
        display: none;
    }
    .note-header_name{
        font-size: 20px;
    }
    .note-header_header-child{
        font-size: 17px;
    }
    .note-header_note-child{
        height: 40px;
    }
    .menu_add-note-header{
        height: 40px;
        width: 60px;
        font-size: 24px;
        border-radius: 10px;
    }

    .note-header_note-add{
        height: 40px;
        font-size: 17px;
    }
    .note-header_headers{
        width: 150px;
        height: 40px;
        font-size: 17px;
    }
    .menu_search{
        width: 200px;
        height: 40px;
        font-size: 17px;
    }
    .setting-icon{
        height: 40px;
        border-radius: 10px;
        width: 40px;
    }

    .visual-settings_example{
        width: 300px;
        height: 300px;
    }

    .visual-settings_txt{
        font-size: 15px;
    }

    .visual-settings_head{
        font-size: 35px;
    }

    .settings__header{
        font-size: 17px;
    }

    .visual-settings_button-w1{
        height: 30px;
    }
    
    .visual-settings_button-w2{
        height: 30px;
        bottom: 80px;
    }

    .visual-settings_button-w3{
        height: 30px;
        bottom: 120px;
    }
     .button-technical{
        font-size: 20px;
    }

    .note-settings_header{
        font-size: 30px;
    }

    .button-shortcuts{
        font-size: 16px;
    }

    .option-shortcuts{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    
    .menu_add-note-header{
        height: 30px;
        width: 47px;
        font-size: 18px;
        border-radius: 10px;
    }
    .note-header_headers{
        border-radius: 10px;
        height: 30px;
        width: 100px;
        font-size: 10px;
    }
    .note-header_header-child{
        font-size: 10px;
    }
    .note-header_delete-child{
        font-size: 17px;
    }
    .note-header_note-child{
        height: 30px;
    }
    .note-header_note-add{
        border-radius: 10px;
        height: 30px;
        font-size: 10px;
    }
    .menu_search{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        font-size: 10px;
    }
    .setting-icon{
        height: 30px;
        border-radius: 10px;
        width: 30px;
    }

    .settings__visual,
    .settings__technical,
    .settings__shortcuts{
        align-items: center;
        justify-content: center;
    }
     .option{
        font-size: 10px;
    }
    .settings__name{
        font-size: 20px;
        height: 40px;
    }
    
    .settings__header-icon-nt{
        width: 20px;
        height: 20px;
    }

     .note-settings_header{
        font-size: 20px;
    }
    
    .settings__header-icon,
    .settings__header-icon-ab{
        margin-bottom: 10px;
        width: 20px;
        height: 20px;
    }
    .settings{
        width: 30%;
    }

    .visual-settings_example{
        height: 200px;
        width: 200px;
    }
    .visual-settings_txt{
        font-size: 15px;
    }

    .visual-settings_head{
        font-size: 35px;
    }

    .settings__header{
        font-size: 17px;
    }

    .visual-settings_button-w1{
        height: 15px;
        right: 9px;
        font-size: 7px;
        width: 40px;
    }
    
    .visual-settings_button-w2{
        height: 15px;
        bottom: 60px;
        right: 9px;
        font-size: 7px;
        width:60px;
    }

    .visual-settings_button-w3{
        height: 15px;
        bottom: 80px;
        right: 9px;
        font-size: 7px;
        width: 80px;
    }

    .visual-settings_create{
        width: 40%;
    }

    .visual-settings-settings{
        width: 60%;
    }
    .settings__header-icon-gt,
    .settings__header-icon-sc,
    .settings__header-icon-tl,
    .settings__header-icon-vl,
    .settings__header-icon-yt{
        display: none;
    }
    .add-header-screen{
        width: 400px;
        height: 300px;
    }
    .add-header-screen_header{
        font-size: 20px;
    }
    .add-header-screen_input{
        font-size: 14px;
    }

    .add-header-screen_submit{
        width: 160px;
        font-size: 14px;
        height: 40px;
    }

    .button-technical{
        font-size: 15px;
    }
    .button-shortcuts{
        font-size: 15px;
    }

    .option-shortcuts{
        font-size: 15px;
    }
}

.ns{
    display: none;
}

@media (max-width: 600px) {
    
    .menu_add-note-header{
        height: 30px;
        width: 47px;
        font-size: 18px;
        border-radius: 10px;
    }
    .note-header_delete-child{
        font-size: 25px;
    }
    .note-header_header-child{
        font-size: 15px;
    }
    .note-header_note-child{
        height: 30px;
    }
    .menu_add-note-header{
        height: 40px;
        width: 60px;
        font-size: 24px;
        border-radius: 10px;
    }
    .note-header_name{
        font-size: 30px;
    }
    .note-header_headers{
        border-radius: 10px;
        height: 30px;
        width: 100px;
        font-size: 15px;
    }
    .menu_search{
        font-size: 15px;
    }
    .note-header_note-add{
        border-radius: 10px;
        height: 30px;
        font-size: 15px;
    }
    
    .setting-icon{
        height: 30px;
        border-radius: 10px;
        width: 30px;
    }

    .settings__visual,
    .settings__technical,
    .settings__shortcuts{
        align-items: center;
        justify-content: center;
    }
    
    .settings__name{
        font-size: 20px;
        height: 40px;
    }
    .option_header{
        font-size: 13px;
    }

    .visual-settings_header{
        font-size: 25px;
    }

    .right-board_font-input-vs{
        width: 80%;
        height: 50px;
    }

    .option{
        flex-direction: column;
        height: 80px;
    }
    .option_input{
        width: 80%;
        height: 50px;
    }

    .option_input-color{
        width: 80%;
        height: 50px;
    }
    .settings__header-icon-nt{
        width: 20px;
        height: 20px;
    }
    
    .settings__header-icon-gt,
    .settings__header-icon-sc,
    .settings__header-icon-tl,
    .settings__header-icon-vl,
    .settings__header-icon-yt{
        display: none;
    }
    
    
    .settings__header-icon,
    .settings__header-icon-ab{
        margin-bottom: 10px;
        width: 20px;
        height: 20px;
    }
    .settings{
        width: 50%;
    }
    .note_settings{
        width: 100%;
    }
    .note_create{
        display: none;
    }
    .visual-settings_create{
        display: none;
    }
    .visual-settings-settings{
        width: 100%;
    }
.add-header-screen_icon{
        display: none;
    }
    .add-header-screen{
        width: 300px;
        height: 200px;
    }
    .add-header-screen_header{
        font-size: 20px;
    }
    .add-header-screen_input{
        font-size: 15px;
    }

    .add-header-screen_submit{
        width: 100px;
        font-size: 15px;
        height: 30px;
    }

    .option-technical{
        flex-direction: column;
        height: 20%;
    }

    .ns{
        width: 80%;
        transform: translateX(12.5%);
        display: flex;
    }

    .button-technical{
        font-size: 15px;
        width: 100%;
        height: 60%;
        right: 0;
    }

    .option-shortcuts{
        flex-direction: column;
        gap: calc(var(--base_gap) / 3);
    }

    .button-shortcuts{
        width: 90%;
        height: 30%;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .main{
        width: 100%;
    }
.note-header_main{
        align-items: center;
        justify-content: center;
    }
    .note-header_delete-child{
        font-size: 35px;
    }
    .note-header_header-child{
        font-size: 25px;
    }
    .note-header_note-child{
        height: 50px;
    }
    .menu_add-note-header{
        height: 40px;
        width: 60px;
        font-size: 24px;
        border-radius: 10px;
    }
    .note-header_name{
        font-size: 40px;
    }
    .note-header_headers{
       display: none;
    }
    .note-header_note-add{
        border-radius: 20px;
        height: 50px;
        width: 80%;
        margin: 0;
        left: 40%;
        transform: translateX(-50%);
        font-size: 20px;
    }
    .menu_search{
        display: none;
    }
    .option_header{
        font-size: 13px;
    }

    .visual-settings_header{
        font-size: 25px;
    }

    .right-board_font-input-vs{
        width: 80%;
        height: 50px;
    }

    .option{
        flex-direction: column;
        height: 80px;
    }

    .option_input{
        width: 80%;
        height: 50px;
    }

    .option_input-color{
        width: 80%;
        height: 50px;
    }

    .menu_add-note-header{
        height: 30px;
        width: 47px;
        font-size: 18px;
        border-radius: 10px;
    }
    .menu_search{
        width: 70px;
        height: 30px;
        font-size: 10px;
        border-radius: 10px;
    }
    .setting-icon{
        height: 30px;
        border-radius: 10px;
        width: 30px;
    }

    .settings__visual,
    .settings__technical,
    .settings__shortcuts{
        align-items: center;
        justify-content: center;
    }
    
    .settings__name{
        font-size: 20px;
        height: 40px;
    }
    
    .settings__header-icon-nt{
        width: 20px;
        height: 20px;
    }
    
    .settings__header-icon-gt,
    .settings__header-icon-sc,
    .settings__header-icon-tl,
    .settings__header-icon-vl,
    .settings__header-icon-yt{
        display: none;
    }
    
    
    .settings__header-icon,
    .settings__header-icon-ab{
        margin-bottom: 10px;
        width: 20px;
        height: 20px;
    }
    .settings{
        width: 50%;
    }
    .add-header-screen_icon{
        display: none;
    }
    .add-header-screen{
        width: 230px;
        height: 300px;
    }
    .add-header-screen_exit{
        font-size: 30px;
    }
    .add-header-screen_header{
        margin-top: 20px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .add-header-screen_input{
        margin-top: 20px;
        font-size: 12px;
        width: 100%;
        height: 50px;
    }

    .add-header-screen_submit{
        width: 150px;
        font-size: 12px;
        height: 50px;
    }

    .option-shortcuts{
        flex-direction: column;
        gap: calc(var(--base_gap) / 3);
    }

    .button-shortcuts{
        width: 90%;
        height: 30%;
        font-size: 12px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}