/* ____________visual-settings__________ */

:root{
    --base_gap: 20px;
    --menu_color: #ffe4c4;
    --notes_color: #fef2e3;
    --button_color: #f5c993;
    --border_weight: 2px;
    --header_font-size: 40px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --fontFamily: ;
    --transition: all 1s;
}

/*________________blocks_______________ */

.error-window{
    background-color: var(--button_color);
    font-size: 20px;
    border-left: 10px solid var(--notes_color);
    width: 300px;
    height: 100px;
    border-radius: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    text-align: center;
    padding: 5px;
    z-index: 60;

    right: 40px;
    bottom: 40px;
    transform: translateX(calc(100% + 40px));

    transition: all 0.5s ease-in-out;
}