/* ____________visual-settings__________ */

:root{
    --base_gap: 20px;
    --menu_color: #ac9aa0;
    --notes_color: #91849a;
    --button_color: #ccb9bf;
    --border_weight: 2px;
    --header_font-size: 40px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --fontFamily: ;
    --transition: all 1s;
}


.loaders-screen{
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
    justify-content: center;
    background-color: rgba(116, 116, 116, 0.199);
  }
  .start-loader{
      display: flex;
  
  }
.loader {
  height: 60px;
  aspect-ratio: 6;
  --c: #0000 64%, black 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 25% 100%;
  background-size: calc(100%/3) 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l2 1s infinite linear;
}
@keyframes l2{
  90%,to {clip-path: inset(0)}
}

/* HTML: <div class="loader2"></div> */
.loader2 {
  width: 130px;
  aspect-ratio: 1;
  color: #000;
  border: 5px solid;
  display: grid;
  box-sizing: border-box;
  animation: l3 3s infinite linear;
}
.loader2::before,
.loader2::after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  width: 70.7%;
  aspect-ratio: 1;
  border: 5px solid;
  box-sizing: content-box;
  animation: inherit;
}
.loader2::after {
  width: 50%;
  aspect-ratio: 1;
  border: 5px solid;
  animation-duration: 2s;
}
@keyframes l3{
  100% {transform:rotate(1turn)}
}
/* HTML: <div class="loader3"></div> */
.loader3 {
  display: inline-grid;
  width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  outline: 7px solid #474847;
  outline-offset: -1px;
  animation: l3-0 4s linear infinite;

}
.loader3:before,
.loader3:after {
  content:"";
  grid-area: 1/1;
}
.loader3:before {
  clip-path: polygon(evenodd,0 0,100% 0,100% 100%,0 100%,0 0,100% 50%,83.81% 59.06%,93.3% 75%,74.75% 74.75%,75% 93.3%,59.06% 83.81%,50% 100%,40.94% 83.81%,25% 93.3%,25.25% 74.75%,6.7% 75%,16.19% 59.06%,0% 50%,16.19% 40.94%,6.7% 25%,25.25% 25.25%,25% 6.7%,40.94% 16.19%,50% 0%,59.06% 16.19%,75% 6.7%,74.75% 25.25%,93.3% 25%,83.81% 40.94%,100% 50%);
  background: #474847;
}
.loader3:after {
  margin: 12.5%;
  clip-path: polygon(100% 50%,78.19% 60.26%,88.3% 82.14%,65% 75.98%,58.68% 99.24%,44.79% 79.54%,25% 93.3%,27.02% 69.28%,3.02% 67.1%,20% 50%,3.02% 32.9%,27.02% 30.72%,25% 6.7%,44.79% 20.46%,58.68% 0.76%,65% 24.02%,88.3% 17.86%,78.19% 39.74%);
  background: #C0C0C0;
  transform: rotate(0turn) translate(15.625%) rotate(0turn);
  animation: l3-1 2s linear infinite;
}
@keyframes l3-0 {to{rotate: -1turn}}
@keyframes l3-1 {to{transform: rotate(1turn) translate(15.625%) rotate(-1.333turn)}}
/* HTML: <div class="name"></div> */
.name {
  position: absolute;
  right: 65px;
  top: 38.5%;
  width: 70px;
  height: 24px;
  z-index: 4;
  background: var(--button_color);
  border-radius: 50px;
  --c:no-repeat radial-gradient(farthest-side,#000 92%,#0000);
  --s:18px 18px;
  -webkit-mask:
    var(--c) left  4px top 50%,
    var(--c) center,
    var(--c) right 4px top 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite:xor;
          mask-composite:exclude;
  -webkit-mask-size:0    0  ,0    0  ,0    0  ,auto
        }
        
        .add-header-screen_option:hover .name{
          
          animation: l1 1.5s infinite;
}

@keyframes l1 {
  0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
  16.67%{-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
  33.33%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
  50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
  66.67%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
  83.33%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
  100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
}

