/* _____________base-struct___________ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____________visual-settings__________ */

:root{
    --base_gap: 20px;
    --menu_color: #ac9aa0;
    --notes_color: #91849a;
    --button_color: #ccb9bf;
    --border_weight: 2px;
    --header_font-size: 40px;
    --text_font-size: 25px;
    --setting-icon_size: 40px;
    --note_height: 60px;
    --base_border-radius: 20px;
    --fontFamily: ;
    --transition: all 1s;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    background-color: var(--menu_color);
    background-image: url("https://img1.fonwall.ru/o/uf/sunlight-landscape-lake-water-sghu.jpeg?route=mid&h=750");
}
 
/* _______________main_____________ */

.main{
    width: 80%;
    height: 100%;
    padding: var(--base_gap);
    gap: var(--base_gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../../img/icons/notes.png");
    background-position: 50% 50%;
    background-size: 20%;
    background-repeat: no-repeat;
    transition: var(--transition);
    font-family: var(--fontFamily);
}

/* ______________header____________ */

.menu{
    padding: var(--base_gap);
    width: 100%;
    /* border-bottom: black solid var(--border_weight); */
    background-color: var(--notes_color);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-radius: var(--base_border-radius);
}

.menu_header{
    position: absolute;
    left: calc(var(--setting-icon_size) + var(--base_gap) *3);
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--header_font-size);
}

.menu_search{
    width: 300px;
    height: 60px;
    outline: none;
    border: none;
    text-align: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.menu_add-note-header {
    width: 80px;
    height: 60px;
    background-color: var(--button_color);
    background-image: url("../../img/icons/263122 1.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    font-size: 35px;
    color: var(--txt_color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: var(--base_border-radius);
    padding-right: 10px;
}

.setting-icon {
    width: 60px;
    height: 60px;
    background-image: url("../../img/icons/free-icon-settings-512158.png");
    background-color: var(--button_color);
    border-radius: 20%;
    background-size: 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* ____________notes__________ */

.main_note-headers{
    width: 100%;
    height: auto;
    gap: var(--base_gap);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: var(--fontFamily);
}

.main_scroll{
     width: 100%;
     height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 5px 0 5px ;
    gap: var(--base_gap);
    overflow-y: scroll;
}

.main_scroll::-webkit-scrollbar {
    width: 10px;
}
 
.main_scroll::-webkit-scrollbar-thumb {
    background: var(--button_color); 
    height: 5px;
    border-radius: 5px;
}

.main_scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.note-header{
    gap: calc(var(--base_gap)*2);
    width: 100%;
    height: 100px;
        overflow-y: scroll;
    background-color: var(--notes_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: var(--base_gap) calc(var(--base_gap) * 2);
    transition: var(--transition);
}

.note-header::-webkit-scrollbar {
    width: 10px;
}
 
.note-header::-webkit-scrollbar-thumb {
    background: var(--button_color); 
    height: 5px;
    border-radius: 5px;
}

.note-header::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.note-header_main{
    width: 100%;
    height: var(--note_height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.note-header_name{
    max-width: 30%;
    overflow-x: auto;
}

.note-header_name::-webkit-scrollbar {
    width: 10px;
}
 
.note-header_name::-webkit-scrollbar-thumb {
    background: var(--button_color); 
    height: 5px;
    border-radius: 5px;
}

.note-header_name::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.note-header_note-list{
    width: 100%;
    height: auto;
    position: relative;
    /* padding: 0; */
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--base_gap);
    /* opacity: 0; */
    transition: all 1s;
}

.note-header_note-child{
    width: 100%;
    height: var(--note_height);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--base_gap);
    background-color: var(--button_color);
}

.note-header_header-child{
    font-size: var(--text_font-size);
    display: flex ;
    max-width: 70%;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
}

/* .note-header_header-child::-webkit-scrollbar {
    width: 10px;
}
 
.note-header_header-child::-webkit-scrollbar-thumb {
    background: var(--button_color); 
    height: 5px;
    border-radius: 5px;
}

.note-header_header-child::-webkit-scrollbar-thumb:hover {
    background: #555; 
} */

.note-header_note-add{
    font-size: var(--text_font-size);
    background-color:  var(--button_color);
    border-radius: var(--base_border-radius);
    padding: 0 calc(var(--base_gap) / 2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    margin-right: 30px;
    color: white;
    position: relative;
}

.note-header_search{
    position: absolute;
    left: 50%;
    top: 0px;   
    height: 50px;
}

.note-header_name{
    font-size: var(--text_font-size);
}

.note-header_headers{
    width: 200px;
    height: var(--note_height);
    font-size: var(--text_font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
}

.note-header_delete-child{
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

/* ________note-header-settings_______ */

.note-settings-screen{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    transform: translateY(120%);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    font-family: var(--fontFamily);
}

.note_settings{
    width: calc(60% - var(--base_gap));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--base_gap);
    padding: var(--base_gap);
    overflow-y: scroll;
}



.note_settings>div{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.note_settings::-webkit-scrollbar {
    width: 10px;
}
 
.note_settings::-webkit-scrollbar-thumb {
    background: var(--button_color); 
    height: 5px;
    border-radius: 5px;
}

.note_settings::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.note_create{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.note-settings_header{
    font-size: var(--header_font-size);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border_weight) solid black;
}
.option{
    font-size: var(--text_font-size);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.option_input{
    height: 80%;
    width: 40%;
    background-color:var(--button_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

.example{
    background-color: var(--menu_color);
    background-size: contain;
    width: 300px;
    height: 180px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

.example_txt{
    width: 100%;
}

.note_submit,
.note_create-example{
    width: 220px;
    height: 50px;
    background-color: var(--button_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.note_exit{
    position: absolute;
    right: calc(var(--base_gap) * 2);
    top: var(--base_gap);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.option_input-color{
    height: 80%;
    width: 40%;
    background-color: var(--notes_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

/* __________header-add-screen________ */

.add-header-screen{
    width: 500px;
    height: 300px;
    background-color: var(--button_color);
    position: absolute;
    top: 0%;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: var(--base_border-radius);
    /* padding: var(--base_gap); */
    transition: var(--transition);
    font-family: var(--fontFamily);
}

.add-header-screen_exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.add-header-screen_submit{
    width: 220px;
    height: 50px;
    background-color: var(--notes_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text_font-size);
    border-radius: var(--base_border-radius);
}

.add-header-screen_option{
    font-size: var(--text_font-size);
    width: 80%;
    height: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.add-header-screen_header{
    position: absolute;
    top: 20px;
    right: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--base_gap);
   font-size: 25px;
    transform: translateX(50%);
}

.add-header-screen_icon{
    width: 40px;
    height: 40px;
    background-image: url("../../img/icons/263122\ 1.png");
    background-size: cover;
}

.add-header-screen_input{
    height: 90%;
    width: 100%;
    background-color:var(--notes_color);
    outline: none;
    border: none;
    border-radius: var(--base_border-radius);
    text-align: center;
}

/* ___________visual-settings_________ */

.visual-settings-screen{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    transform: translateY(-120%);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
    font-family: var(--fontFamily);
}

.visual-settings-settings{
    width: calc(50% - var(--base_gap));
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
}

.visual-settings-settings::-webkit-scrollbar {
    width: 10px;
}
 
.visual-settings-settings::-webkit-scrollbar-thumb {
    background: var(--button_color); 
    height: 5px;
    border-radius: 5px;
}

.visual-settings-settings::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.scroll{
width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--base_gap);
    padding: var(--base_gap);
}

.visual-settings_create{
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.visual-settings_header{
    width: 100%;
    text-align: center;
}

.visual-settings_example{
    background-color: var(--menu_color);
    background-size: contain;
    position: relative;
    width: 500px;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    border-radius: var(--base_border-radius);
    transition: var(--transition);
}

.visual-settings_head{
    font-size: 150px;
    position: absolute;
    left: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*3);
}
.right-board_font-input-vs{
    width: 40%;
    height: 80%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}
.visual-settings_txt{
    font-size: 50px;
    position: absolute;
    left: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*2);
}

.visual-settings_button-w1{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*2);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_button-w2{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*3 + 50px );
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_button-w3{
    position: absolute;
    right: calc(var(--base_gap)*2);
    bottom: calc(var(--base_gap)*4 + 100px );
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--notes_color);
    border-radius: var(--base_border-radius);
    background-color: var(--button_color);
}

.visual-settings_exit-example{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.visual-settings_exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}

.visual-settings_submit{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height:60px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: var(--base_border-radius);
    border-bottom: var(--menu_color)solid 0px;
    background-color: var(--button_color);
    transition: all 0.25s;
}
.option_url-main{
    background-color: var(--button_color);
}
/* ______________settings_____________ */
.settings-screen {
    position: absolute;
    color: var(--txt_color);
    font-family: var(--fontFamily);
}

.settings {
    width: 19%;
    height: 100%;
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--base_gap);
    border-radius: 0 var(--base_border-radius) var(--base_border-radius) 0;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 4;
    transition: var(--transition);
    font-family: var(--fontFamily);
    color: var(--txt_color);
}

.settings__visual,
.settings__technical,
.settings__shortcuts {
    color: var(--txt_color);
    width: 70%;
    height: 6%;
    background-color: var(--button_color);
    border-radius: var(--base_border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    text-decoration: none;
    padding: var(--base_gap);
       border-bottom: var(--menu_color) solid 0px;
    font-size: 25px;
    transition: all 0.25s;
}

.settings__visual:hover,
.settings__technical:hover,
.settings__shortcuts:hover {
       border-bottom: var(--menu_color) solid  10px;

}

.settings__header-icon{
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/free-icon-settings-563541.png");
    background-size: cover;
    margin-top: 10px;
}

.settings__header-icon-ab{
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/information.png");
    background-size: cover;
    margin-top: 10px;
}

.settings__header-icon-gt{
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/github.png");
    background-size: cover;
}

.settings__header-icon-yt{
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/youtube.png");
    background-size: cover;
}

.settings__header-icon-vl{
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/effect.png");
    background-size: cover;
}

.settings__header-icon-tl{
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/technology.png");
    background-size: cover;
}

.settings__header-icon-sc{
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/copy.png");
    background-size: cover;
}

.settings__header-icon-nt{
    width: 50px;
    height: 50px;
    background-image: url("../../img/icons/wirte.png");
    background-size: cover;
}

.settings__name{
    margin-top: 20px;
    font-size: var(--header_font-size);
    background-color: var(--button_color);
    width: 100%;
    height: 80px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings__header {
    color: var(--txt_color);
    /* border-top: grey solid 2px; */
    width: 90%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 45px;
}
/* settings-shorcuts */
.shortcuts-settings-screen{
    position: absolute;
    font-family: var(--fontFamily);
    transform: translateX(120%);
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
    overflow-y: auto;
}
.shortcuts-settings-exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}
.option-shortcuts{
    font-size: var(--text_font-size);
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    color: var(--txt_color);
    align-items: center;
    justify-content: space-between;
}
.button-shortcuts{
    background-color: var(--button_color);
    border: 20px solid var(--button_color);
    border-radius: var(--base_border-radius);
    position: relative;
    right: 50px;
}
/* technical */
.technical-settings-screen{
    position: absolute;
    transform: translateY(120%);
    width: 80%;
    height: 80%;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--notes_color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    font-family: var(--fontFamily);
    overflow-y: auto;
    z-index: 3;
}
.technical-settings-exit{
    position: absolute;
    right: calc(var(--base_gap));
    top: calc(var(--base_gap)/2);
    font-size: var(--header_font-size);
    transform: rotate(45deg);
}
.option-technical{
    font-size: var(--text_font-size);
    width: 95%;
    height: 60px;
    display: flex;
    flex-direction: row;
    color: var(--txt_color);
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.button-technical{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_color);
    border: 20px solid var(--button_color);
    border-radius: var(--base_border-radius);
}
.button-screen{
    position: absolute;
    transform: translateX(100%);
    right: 0%;
    max-width: 60%;
    width: auto;
    height: auto;
    border-radius: calc(var(--base_border-radius)*2);
    background-color: var(--menu_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--base_gap);
    padding: var(--base_gap);
    transition: var(--transition);
    z-index: 3;
    font-size: 55px;
}

.searchI{
    background-color: var(--button_color);
}

.searchN{
    background-color: var(--notes_color);
}